<div class="wrapper">
    <div class="navbar">
        <a class="logo" href="/"><img class="logo-image" src="/img/logo.svg" alt=""></a>
        <form id="search-form">
            <input id="search-input" type="text" placeholder="Search for movie...">
            <button class="btn search-btn"><i class="fas fa-search"></i></button>
        </form>
        <h2 class="discover">Discover</h2>
        <a id="popular" class="discover-link" href="/">
            <div>
                <i class="fas fa-heart"></i>
                Popular
            </div>
        </a>
        <a class="discover-link" href="/discover/toprated">
            <div>
                <i class="fas fa-chart-bar"></i>
                Top Rated
            </div>
        </a>
        <a class="discover-link" href="/discover/upcoming">
            <div>
                <i class="fas fa-gift"></i>
                Upcoming
            </div>
        </a>
        <h2 class="discover">Genres</h2>
        <a class="discover-link" href="/genres/action">
            <div>
               <i class="far fa-dot-circle"></i>
                Action
            </div>
        </a>
        <a class="discover-link" href="/genres/adventure">
            <div>
                <i class="far fa-dot-circle"></i>
                Adventure
            </div>
        </a>
        <a class="discover-link" href="/genres/animation">
            <div>
                <i class="far fa-dot-circle"></i>
                Animation
            </div>
        </a>
        <a class="discover-link" href="/genres/comedy">
            <div>
                <i class="far fa-dot-circle"></i>
                Comedy
            </div>
        </a>
        <a class="discover-link" href="/genres/crime">
            <div>
                <i class="far fa-dot-circle"></i>
                Crime
            </div>
        </a>
        <a class="discover-link" href="/genres/documentary">
            <div>
                <i class="far fa-dot-circle"></i>
                Documentary
            </div>
        </a>
        <a class="discover-link" href="/genres/drama">
            <div>
                <i class="far fa-dot-circle"></i>
                Drama
            </div>
        </a>
        <a class="discover-link" href="/genres/family">
            <div>
                <i class="far fa-dot-circle"></i>
                Family
            </div>
        </a>
        <a class="discover-link" href="/genres/fantasy">
            <div>
                <i class="far fa-dot-circle"></i>
                Fantasy
            </div>
        </a>
        <a class="discover-link" href="/genres/history">
            <div>
                <i class="far fa-dot-circle"></i>
                History
            </div>
        </a>
        <a class="discover-link" href="/genres/horror">
            <div>
                <i class="far fa-dot-circle"></i>
                Horror
            </div>
        </a>
        <a class="discover-link" href="/genres/music">
            <div>
                <i class="far fa-dot-circle"></i>
                Music
            </div>
        </a>
        <a class="discover-link" href="/genres/mystery">
            <div>
                <i class="far fa-dot-circle"></i>
                Mystery
            </div>
        </a>
        <a class="discover-link" href="/genres/romance">
            <div>
                <i class="far fa-dot-circle"></i>
                Romance
            </div>
        </a>
        <a class="discover-link" href="/genres/science fiction">
            <div>
                <i class="far fa-dot-circle"></i>
                Science Fiction
            </div>
        </a>
        <a class="discover-link" href="/genres/tv movie">
            <div>
               <i class="far fa-dot-circle"></i>
                TV Movie
            </div>
        </a>
        <a class="discover-link" href="/genres/thriller">
            <div>
                <i class="far fa-dot-circle"></i>
                Thriller
            </div>
        </a>
        <a class="discover-link" href="/genres/war">
            <div>
               <i class="far fa-dot-circle"></i>
                 War
            </div>
        </a>
        <a class="discover-link" href="/genres/western">
            <div>
                <i class="far fa-dot-circle"></i>
                Western
            </div>
        </a>
    </div>
</div>